.doQuestionPage {

    .title {
        color: #ffffff;
        padding-top: 48px;
        text-align: center;
    }

    .options-wrapper {
        margin-bottom: 48px;
    }

    .controlBtn {
        margin: 24px 48px;
    }

    .enterBtn {
        width: 45vw;
        background: #806497;
        border-radius: 30px;
        border: none;
    }
}